:root{
  --main_bg: #000;
  --main_text: hsla(0, 0%, 100%, 0.822);
  --header_text: #fff;
  --clickable: #3291ff;
  --border: rgba(147,197,253,.5);
  
  --main_text_width: calc(100vw - max(40vw, 20px));

}

body{
  background-color: var(--main_bg);
  line-height: 1.75;
}

h1{
  text-align: center;
  margin-top: 0;
  color: var(--header_text);
}

a{
  
  color: var(--clickable);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video{
  width: 100%;
}

h2{
  color: var(--header_text);
}

h3{
  color: var(--clickable);
  cursor: pointer;
}

b{
  color: var(--header_text);
}


ol li::marker{
  color: #2f81f7;
  font-size: 20px;
  
}

ul li::marker{
  color: var(--header_text);
}

ul{
  list-style-type: disc;
}


.App {
  text-align: left;
  width: var(--main_text_width);
  margin: auto;
  margin-top: 50px;
  color: var(--main_text);
}

.labeled_image{
  display: inline-block;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  
  
}
.image_title{
  
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--header_text);
  font-size: 25px;
  z-index: -1;
  opacity: 0%;
  width: 100%;
}

.labeled_image:hover .image_title{
  z-index: 1;
  opacity: 100%;
  transition: 0.6s;
  background-color: var(--main_bg);
}

.socialIcon{
  margin: 10px;
}

.show_select{
  text-decoration: underline;
  text-align: center;
  color: var(--main_text);
  cursor: pointer;
}

.show_select:hover{
  color: var(--header_text);
}

.project_expander::after{
  content: '\2212';
  float: right;
}
.project_expander_active::after{
  content: '\002B';
  float: right;
}


#socialIconBar{
  position: relative;
  text-align: center;
}

