:root{
  --main_bg: #20232B;
  --main_text: hsla(0, 0%, 100%, 0.822);
  --header_text: #fff;
  --clickable: rgb(207, 181, 59);
  --border: rgba(147,197,253,.5);
  
  --main_text_width: calc(100vw - max(40vw, 20px));

}

body{
  background-color: var(--main_bg);
  line-height: 1.75;
}

h1{
  text-align: center;
  margin-top: 0;
  color: var(--header_text);
}

a{
  
  color: var(--clickable);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video{
  width: 100%;
}

h2{
  color: var(--header_text);
}


b{
  color: var(--header_text);
}

ol li::marker{
  color: var(--clickable);
  font-size: 20px;
  
}

ul li::marker{
  color: var(--header_text);
}

ul{
  list-style-type: disc;
}


.App {
  text-align: left;
  width: var(--main_text_width);
  margin: auto;
  padding-top: 50px;
  color: var(--main_text);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.about_me{
  font-size:18px;
}

.labeled_image{
  display: inline-block;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  
  
}
.image_title{
  
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--header_text);
  font-size: 25px;
  z-index: -1;
  opacity: 0%;
  width: 100%;
}

.labeled_image:hover .image_title{
  z-index: 1;
  opacity: 100%;
  transition: 0.6s;
  background-color: var(--main_bg);
}

.socialIcon{
  margin: 10px;
}

.show_select{
  text-decoration: underline;
  text-align: center;
  color: var(--main_text);
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.show_select:hover{
  color: var(--header_text);
}

.project_expander{
  margin: 0px;
  padding-top: 18px;
}
.project_expander_active{
  margin: 0px;
  padding-top: 18px;
}
.project_expander::after{
  content: '\2212';
  float: right;
}
.project_expander_active::after{
  content: '\002B';
  float: right;
}


.about_me_label{
  padding-left: 20px;
}
.project_section_label{
  margin-top: 0;
  padding-top: 20px;
  padding-left: 20px;
}
.project_entry{
  padding-right: 40px;
}
.item_divider{
  border-bottom: 1px solid var(--border);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 -50vw;
  width: 200%;

}
.last_p_in_entry{
  margin-bottom: 0;
  padding-bottom: 10px;
}

#socialIconBar{
  position: relative;
  text-align: center;
}
#project_name{
  color: var(--clickable);
  cursor: pointer;
}

